---
import Layout from "../layouts/Layout.astro";
import { sanityClient } from "sanity:client";
import { Image } from "astro:assets";
import Mallets from "../assets/mallets.jpg";
import imageUrlBuilder from "@sanity/image-url";

const builder = imageUrlBuilder(sanityClient);

function urlFor(source: any) {
  return builder.image(source);
}
const categories = await sanityClient.fetch(`*[_type == "category"]{
  title, 
  slug,
  "imageUrl": mainImage.asset->url
}`);
---

<Layout>
  <section class="hero-1">
    <div class="flex flex-col items-start gap-4">
      <h1 class="text-3xl text-slate-100">Categories</h1>
      <div class="cs-content">
        {
          categories.map((c: { title: string; slug: any; imageUrl: any }) => {
            return (
              <a href={`/category/${c.slug.current}`}>
                <div class="card flex flex-row gap-4 justify-between bg-white rounded-md">
                  <img
                    src={urlFor(c.imageUrl).height(150).width(150).url()}
                    alt="image"
                    class="rounded-full m-2"
                  />

                  <div class="text bg-white flex flex-col justify-start rounded-md mx-4 mt-4">
                    <h2 class="text-xl">{c.title}</h2>
                  </div>
                </div>
              </a>
            );
          })
        }
      </div>
    </div>
  </section>
</Layout>

<style>
  .hero-1 {
    /* 200px - 300px - leaving extra space for the navigation */
    /* padding: clamp(12.5rem, 25.95vw, 18.75em) 1rem; */
    padding-top: 2rem;
    /* prevents the topper line from causing an overflow */
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    background-image: url("../assets/mallets.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
  }

  .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 3rem;
  }
  .cs-content {
    width: 100%;
    /* max-width: 39.375rem; */
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
  }
  @media only screen and (max-width: 750px) {
    .cs-content {
      width: 100%;
      /* max-width: 39.375rem; */
      display: grid;
      grid-template-columns: auto auto;
      gap: 15px;
      grid-template-columns: auto;
    }
  }

  .card {
    width: 380px;
    height: 180px;
  }

  .card:hover {
    transform: scale(1.03);
    border: 1px solid var(--nscDarkGrey);
  }
</style>
