---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <section class="section-1">
    <div class="text-box w-4/5 rounded:sm p-6">
      <h1 class="border-b-2 pb-4 border-b-slate-100 header-text">
        Main Street Percussion
      </h1>
      <div class="pt-4">
        <p class="pt-4">YOUR PERCUSSION RENTAL PEOPLE</p>
        <button
          class="mt-6 text-lg border-2 border-slate-100 px-4 py-2 flex justify-center align-center hover:bg-slate-100 hover:text-slate-900 hover:transition-all ease-in"
          ><a href="#contact">GET STARTED</a>
        </button>
      </div>
    </div>
  </section>
  <section class="section-2">
    <h2>Browse Categories</h2>
    <div class="container">
      <div
        class="panel active"
        style="
            background-image: url('https://images.unsplash.com/photo-1707560693052-2c9d73bd1f1d?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
          "
      >
        <h3 class="text-slate-800 bg-slate-50 w-full opacity-50">
          Concert Drums
        </h3>
      </div>
      <div
        class="panel"
        style="
            background-image: url('https://images.unsplash.com/photo-1710651648270-c0c900f49f30?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
          "
      >
        <h3 class="text-slate-800 bg-slate-50 w-full opacity-50">
          Tuned Keyboards
        </h3>
      </div>
      <div
        class="panel"
        style="
            background-image: url('https://images.unsplash.com/photo-1627769831079-835899bdd1c0?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
          "
      >
        <h3 class="text-slate-800 bg-slate-50 w-full opacity-50">
          Accessories & Special Effects
        </h3>
      </div>
      <div
        class="panel"
        style="
            background-image: url('https://images.unsplash.com/photo-1530917203633-106d4a1a0967?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
          "
      >
        <h3 class="text-slate-800 bg-slate-50 w-full opacity-50">
          Ethnic Percussion
        </h3>
      </div>
    </div>
  </section>
  <section class="section-3" id="contact">
    <div class="container">
      <div class="w-4/5 md:w-2/3 flex flex-col items-center justify-start">
        <h2 class="text-slate-100">Get In Touch!</h2>
        <p class="text-slate-100">
          Let us know if you have any questions about availability or our rental
          policies. We'd love to hear from you.
        </p>
      </div>
      <div class="w-4/5 md:w-2/3">
        <ContactForm />
      </div>
    </div>
  </section>
  <Footer />
  <script>
    const panels = document.querySelectorAll(".panel");

    panels.forEach((panel) => {
      panel.addEventListener("click", () => {
        removeActiveClasses();
        panel.classList.add("active");
      });
    });

    function removeActiveClasses() {
      panels.forEach((panel) => {
        panel.classList.remove("active");
      });
    }
  </script>
</Layout>

<style scoped>
  /*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    .section-1 {
      height: 100vh;

      color: #d9d9d9;
      /* background-color: #218c5c; */
      background: linear-gradient(
        rgba(20, 89, 58, 0.75),
        rgba(23, 101, 66, 0.75)
      );
      /* url("../assets/snare-drum.jpg") center/cover no-repeat; */
      /* background-size: cover;
      background-repeat: no-repeat;
      background-position: 0% 40%;
      background-blend-mode: multiply; */

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .section-2 {
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .section-3 {
      background-color: rgba(20, 89, 58, 0.75);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 80vh;
    }

    .panel {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 30vh;
      width: 90vw;
      border-radius: 50px;
      color: #d9d9d9;
      margin: 10px;
      position: relative;
      transition: flex 0.3s ease-in;
      flex: 0.5;
      cursor: pointer;
    }

    .panel:hover {
      transform: scale(1.01);
      transition: 0.2s ease;
    }

    .panel.active {
      flex: 5;
    }

    .panel h3 {
      font-size: 2rem;
      position: absolute;
      bottom: 20px;
      left: 0;
      padding-left: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      opacity: 0;
    }

    .panel.active h3 {
      opacity: 1;
      transition: opacity 0.3s ease-in 0.3s;
    }

    h1 {
      font-size: 3rem;
      font-weight: 700;
    }

    h2 {
      margin: 2rem;
      font-size: 2.53rem;
    }

    p {
      font-size: 1.5rem;
      letter-spacing: 0.05em;
      font-weight: 400;
    }
  }

  @media only screen and (min-width: 37rem) {
    .section-1 {
      height: 80vh;
    }

    .section-2 {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 60vh;
    }
    .container {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
</style>
