---
import Layout from "../layouts/Layout.astro";
import SnareDrum from "../assets/snare-drum.jpg";
import { Image } from "astro:assets";

import "../styles/global.css";
---

<Layout>
  <section class="section-1">
    <div class="text-box w-3/ rounded:sm p-4">
      <h1 class="border-b-2 border-b-slate-100 inline-block">
        Main Street Percussion
      </h1>
      <div class="pt-4">
        <p>THE PREMIER PERCUSSION RENTAL SERVICE IN THE SOUTHEAST</p>
        <p>BASED IN NASHVILLE, TN</p>
        <p>EST. 2022</p>
      </div>
    </div>
  </section>
</Layout>

<style scoped>
  /*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    .section-1 {
      height: 600px;
      width: 100%;
      color: #d9d9d9;
      /* background-color: #218c5c; */
      background:
        linear-gradient(rgba(33, 140, 92, 0.75), rgba(33, 140, 92, 0.75)),
        url("../assets/snare-drum.jpg") center/cover no-repeat;
      /* background-size: cover;
      background-repeat: no-repeat;
      background-position: 0% 40%;
      background-blend-mode: multiply; */

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h1 {
      font-size: 3rem;
      font-weight: 700;
    }

    p {
      font-size: 1rem;
      letter-spacing: 0.05em;
      font-weight: 600;
    }
  }
</style>
