---
import Layout from "../layouts/Layout.astro";
import SnareDrum from "../assets/snare-drum.jpg";
import Mallets from "../assets/mallets.jpg";
import { Image } from "astro:assets";

import "../styles/global.css";
import "../styles/tiles.css";
---

<Layout>
  <section class="section-1">
    <div class="text-box w-4/5 rounded:sm p-6">
      <h1 class="border-b-2 pb-4 border-b-slate-100">Main Street Percussion</h1>
      <div class="pt-4">
        <p class="pt-4">
          THE PREMIER PERCUSSION RENTAL SERVICE IN THE SOUTHEAST
        </p>
        <p>BASED IN NASHVILLE, TN</p>
        <p>EST. 2022</p>
      </div>
    </div>
  </section>
  <section id="tiles" class="tiles section-2">
    <div class="section-2-image"></div>
    <div
      class="section-2-text w-full md:h-full sm:h-1/2 flex justify-center items-center"
    >
      <h2 class="inline-block w-4/5 border-b-2 border-b-zinc-800 text-right">
        Daily Rentals
      </h2>
    </div>
  </section>
  <section id="tiles" class="tiles section-2">
    <div
      class="section-2-text w-full md:h-full sm:h-1/2 flex justify-center items-center"
    >
      <h2 class="inline-block w-4/5 border-b-2 border-b-zinc-800 text-left">
        Weekly Rentals
      </h2>
    </div>
    <div class="section-3-image"></div>
  </section>
</Layout>

<style scoped>
  /*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    .section-1 {
      height: 600px;
      width: 100%;
      color: #d9d9d9;
      /* background-color: #218c5c; */
      background:
        linear-gradient(rgba(20, 89, 58, 0.75), rgba(23, 101, 66, 0.75)),
        url("../assets/snare-drum.jpg") center/cover no-repeat;
      /* background-size: cover;
      background-repeat: no-repeat;
      background-position: 0% 40%;
      background-blend-mode: multiply; */

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .section-2 {
      height: 400px;
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .section-2-image {
      content: "";
      height: 300px;
      width: 100%;
      background:
        linear-gradient(rgba(20, 100, 220, 0.75), rgba(20, 100, 220, 0.75)),
        url("../assets/mallets.jpg") center/cover no-repeat;
    }

    .section-3-image {
      content: "";
      width: 100%;
      height: 300px;
      background:
        linear-gradient(rgba(163, 20, 220, 0.75), rgba(163, 20, 220, 0.75)),
        url("../assets/ethnic-drum.jpg") center/cover no-repeat;
    }

    .section-2-text {
      width: 100%;
    }

    h1 {
      font-size: 3rem;
      font-weight: 700;
    }

    h2 {
      margin: 2rem;
      font-size: 2.53rem;
    }

    p {
      font-size: 1rem;
      letter-spacing: 0.05em;
      font-weight: 600;
    }

    .image {
      height: 500px;
      width: auto;
    }
  }

  @media only screen and (min-width: 37rem) {
    .section-2 {
      flex-direction: row;
    }

    .section-2-image {
      content: "";
      height: auto;
      width: 100%;
      background:
        linear-gradient(rgba(20, 100, 220, 0.75), rgba(20, 100, 220, 0.75)),
        url("../assets/mallets.jpg") center/cover no-repeat;
    }

    .section-2-text {
      width: 100%;
    }

    .section-3-image {
      content: "";
      width: 100%;
      height: auto;
      background:
        linear-gradient(rgba(163, 20, 220, 0.75), rgba(163, 20, 220, 0.75)),
        url("../assets/ethnic-drum.jpg") center/cover no-repeat;
    }
  }
</style>
